<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="https://indexfile.net/">
    <title>This is index.htm</title>
</head>
<body>

<ul>
<li>Crysis
        <ul>
        <li>shooter
        </ul>
<li>osu!
        <ul>
        <li>rhytm
        </ul>
<li>TES 4: Oblivion
        <ul>
        <li>rpg
        </ul>
<li>Flatout 2
        <ul>
        <li>racing
        </ul>
<li>Minecraft
        <ul>
        <li>sandbox
        </ul>
<li>Assassin's Creed
        <ul>
        <li>action
        </ul>
<li>Age of Wonders 3
        <ul>
        <li>strategy
        </ul>

</ul>

</body>
</html>